rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Función auxiliar para obtener el organizationId del usuario desde Firestore
    function getUserOrgId() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.organizationId;
    }

    // Regla para Obras
    match /obras/{workId}/{allPaths=**} {
       
       // LECTURA: Solo dueños o miembros de la misma organización
       allow read: if request.auth != null && (
         resource.metadata.ownerId == request.auth.uid ||
         (resource.metadata.organizationId != null && resource.metadata.organizationId == getUserOrgId())
       );
       
       // ESCRITURA: 
       allow write: if request.auth != null
                    && (request.resource == null || (
                        request.resource.metadata.ownerId == request.auth.uid &&
                        request.resource.metadata.organizationId == getUserOrgId()
                    ))
                    && (resource == null || resource.metadata == null || resource.metadata.ownerId == request.auth.uid);
    }

    // Regla para Organizaciones (Logos)
    match /organizations/{orgId}/{allPaths=**} {
       // Solo miembros de la organización pueden leer o subir el logo
       allow read: if request.auth != null && (orgId == getUserOrgId());
       allow write: if request.auth != null && (orgId == getUserOrgId());
    }
  }
}
