rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Regla genérica para todo lo que esté bajo 'obras/{workId}'
    // Usada para fotos de avances y archivos de obra.
    match /obras/{workId}/{allPaths=**} {
       allow read, write: if request.auth != null;
    }

    // --- NUEVO: Regla para logos de Organizaciones ---
    // Ruta: organizations/{orgId}/logo.jpg
    match /organizations/{orgId}/{allPaths=**} {
       // Permitir subir/borrar si estás autenticado (idealmente validar propiedad con Firestore)
       allow write: if request.auth != null; 
       // Permitir lectura pública o autenticada para que se vea en los PDFs y Perfiles
       allow read: if request.auth != null;
    }
  }
}
